<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Inicio de sesión</ion-title>
    </ion-navbar>
</ion-header>
          
<ion-content style="background:#f2f2f2;">
    <ion-card *ngIf="!registrando">
        <ion-card-header>
            <b>Entrar</b>
        </ion-card-header>
        <ion-list>
            <ion-item>
                <ion-label floating>E-mail</ion-label>
                <ion-input type="email" [(ngModel)]="form.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="form.contrasena"></ion-input>
            </ion-item>
        
        </ion-list>
        <div padding>
            <button ion-button block (click)="login()">Entrar</button>
        </div>
    </ion-card>

    <ion-card *ngIf="registrando">
        <ion-card-header>
            Iniciando sesión <ion-spinner name="crescent"></ion-spinner>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <div padding style="text-align:center;color:rgb(136, 136, 136);">
            No estás registrado?
            <button ion-button block (click)="irRegistro()">Registrarme</button>
        </div>
    </ion-card>
    
    
    </ion-content>